.hero-hr hr {
  border: 2px solid white;
  width: 200px;
  border-radius: 6px;
  margin: 0px auto;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
